[
  {rabbit, [
    %% Define cluster nodes
    {cluster_nodes, {['rabbit@rabbitmq1','rabbit@rabbitmq2','rabbit@rabbitmq3'], disc}},

    %% Allow guest access from anywhere (optional)
    {loopback_users, []},

    %% Optional tuning parameters
    {vm_memory_high_watermark, 0.6},  %% 60% of RAM
    {disk_free_limit, 50000000},      %% 50 MB minimum free disk
    {heartbeat, 60}                   %% TCP heartbeat
  ]}
].

